.App_header{
  animation: appearFromTheBottom 0.7s linear;
}
.header__text-introduction{
  color: #595959;
}
.header__button{
  display: flex;
  align-items: center;
  justify-content: space-around;

  min-width: 200px;

  padding: 6px;

  background-color: #F5F5F5;
  border: 2px solid #121212;
  border-radius: 4px;
  color: #121212;
  font-size: 17px;
  font-weight: 500;
}
.header__button:active{
  border: 2px solid #898989;
}