.show-cv__buttons{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.show-cv__button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  padding: 7px;

  background-color: #f5f5f5;
  border: 2px solid #121212;
  border-radius: 4px;
  color: #121212;
  font-size: 17px;
  font-weight: 500;
}