.App__show-cv{
  animation: appearFromTheBottom 0.7s ease-out;
}
.disappearToTheTop{
  animation: disappearToTheTop 0.5s ease-in;
}
@keyframes disappearToTheTop {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: translateY(-50%);
    opacity: 0;
  }
}
.info-section__info-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.info-principal__image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 240px;

  background-color: #595959;
  color: #f5f5f5;
}
.info-principal__title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
}
.info-section__title{
  color: #414141;
  font-weight: 500;
  font-size: 26px;
}
.info-section__text{
  color: #595959;
}
.show-cv__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.show-cv__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  padding: 7px;

  background-color: #f5f5f5;
  border: 2px solid #121212;
  border-radius: 4px;
  color: #121212;
  font-size: 17px;
  font-weight: 500;
}
@media print {
  .show-cv__buttons {
    display: none;
  }
  .info-principal__title {
    max-width: 50%;
  }
}
